body {
  background-color: pink;
}
.header {
  font-size: 24px;
}
.box {
  background: lightblue;
  height: 350px;
  margin-bottom: 20px;
  overflow: scroll;
  border-radius: 10px;
  border: 1px solid blue;
  padding: 10px;
}
